html {
  font-size: 26.6667vw;
}
body {
  font-size: .14rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  vertical-align: middle;
}
/* 头部公共样式 */
#header {
  position: fixed;
  display: flex;
  background-color: #006699;
  color: #fff;
  width: 100%;
}
#header .left {
  width: .45rem;
  height: .45rem;
}
#header .center {
  flex: 1;
  text-align: center;
}
#header .center h4 {
  line-height: .45rem;
  font-weight: normal;
}
#header .right {
  width: .45rem;
  height: .45rem;
  text-align: center;
  line-height: .45rem;
}
#header .right i {
  color: #fff;
}
/* 主题公共样式 */
#main {
  position: relative;
  height: 100vh;
  padding: .45rem 0;
}
#main .mui-scroll-wrapper {
  position: relative;
  height: 100%;
}
#main a {
  display: block;
}
#main a img {
  width: 100%;
}
/* 底部公共样式 */
#footer {
  background-color: #006699;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
#footer a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: .45rem;
}
#main .slide {
  padding: .1rem;
}
#main .nav {
  padding: .1rem;
}
#main .banner {
  padding: 0 .1rem;
}
#main .banner .left a {
  display: flex;
}
#main .banner .left a img {
  width: 50%;
  height: 1.2rem;
}
#main .banner .right a img {
  height: 2.4rem;
}
#main .brand {
  padding: .1rem;
}
#main .sport {
  padding: 0 .1rem;
}
#main .sport .left a,
#main .sport .right a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main .sport .left a p,
#main .sport .right a p {
  text-align: center;
  font-size: .1rem;
}
#main .sport .left a button,
#main .sport .right a button {
  background-color: skyblue;
  color: #fff;
  font-weight: 400;
}
#main .women,
#main .man {
  padding: .1rem;
}
